name: Run Tests

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '22'
      bun-version:
        required: false
        type: string
        default: 1.2.13

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run All Tests
    steps:
      - uses: actions/checkout@v4

      - name: Setup Workspace
        uses: ./.github/actions/setup-workspace
        with:
          node-version: ${{ inputs.node-version }}
          bun-version: ${{ inputs.bun-version }}

      - name: Run Tests
        run: pnpm run test
