name: Test Pipeline

on:
  push:
    branches: [dev]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [main, stage]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  typo-check:
    uses: ./.github/workflows/_typo-check.yml

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: ./.github/actions/setup-workspace

      - name: Build & Test
        run: pnpm turbo run build test
